<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form>
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input 
                        id="projectName"
                        type="text" 
                        class="form-control"
                    >
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                        id="email"
                        type="email" 
                        class="form-control"
                    >
                </div>
                <div class="form-group">
                    <label for="projectStatus">Project Status</label>
                    <select 
                        name="projectStatus" 
                        id="projectStatus"
                        class="form-control"
                    >
                        <option 
                            *ngFor="let status of projectStatusValues" 
                            value="{{ status }}"
                        >{{ status }}</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>