<h3>App Component</h3>
<hr>
<input type="text" class="form-control" [(ngModel)]='serverName'>
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    >Add Server</button>
<!-- <p>{{ serverCreationStatus }}</p> -->

<p *ngIf="serverCreated; else noServer">Server was created, server name was {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>

<app-server></app-server>
<app-server></app-server>

<br>
<br>

<label for="username">Username</label>
<br>
<input type="text" name="username" [(ngModel)]="username">
<p>Your username is {{ username }}</p>
<button 
    class="btn btn-primary"
    [disabled]="username.length == 0"
    (click)="resetUsername()"
>Reset Username</button>